.Functions {
  background-color: #ffffff;
}
.container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.box {
  background-color: #fff;
  border: 1px solid #c1c1c1;
  color: #333333 !important;
  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  min-height: 200px;
}

.box-preview {
  padding: 15px;
}

.box-title {
  font-size: 16px;
  margin: 15px 0;
}

.box-button {
  display: block;
  background-color: #6c63ff;
  color: #fff;
  text-decoration: none !important;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  margin: 15px 0 10px;
}

.icon {
  display: grid;
  place-items: center;
  font-size: 20px;
}
.icon .MuiSvgIcon-root {
  margin-top: 20px;
}

@media (max-width: 725px) {
  .box-button {
    display: none;
  }

  .container {
    grid-template-columns: 1fr;
  }

  .box-title {
    font-size: 15px;
    margin: 10px 0;
  }
  .box-preview {
    flex: 1;
  }
  .icon {
    padding: 30px 15px;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  .thumbnail {
    height: 100px;
    width: 40%;
    display: none;
  }

  .box {
    display: flex;
    border-radius: 10px;
    border: 0;
    background-color: #f5f6fa;
    color: #333 !important;

    -webkit-box-shadow: 2px 4px 5px -2px rgba(0, 0, 0, 0.59);
    -moz-box-shadow: 2px 4px 5px -2px rgba(0, 0, 0, 0.59);
    box-shadow: 2px 4px 5px -2px rgba(0, 0, 0, 0.59);

    /* box-shadow: 0 1px 4px 1px #000000; */
  }
}
