.Header {
  background-color: #6c63ff;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
  width: 100%;
  padding: 10px 20px;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Header .logo {
  margin-right: auto;
  font-size: 20px;
}

.Header .MuiSvgIcon-root {
  color: #fff;
}
