.Header {
  background-color: #8c81f7;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
  width: 100%;
  padding: 10px 20px;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 4px -2px #333333;
}

.Header .logo {
  font-size: 20px;
}

.Header .MuiSvgIcon-root {
  color: #fff;
}
