.Header {
  background-color: #eaeaea;
  color: #666666;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: block;
  width: 100%;
  padding: 10px 20px;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px -2px #333333;
}

.logo {
  font-size: 20px;
  height: 7vh;
  object-fit: contain;
  margin: auto !important;
}

.Header .MuiSvgIcon-root {
}
