.hero {
  display: flex;
  flex-direction: column;
  height: 92vh;
  font-family: "Poppins", sans-serif;
  margin-top: 8vh;
}

.top_image {
  height: 40%;
  width: 40%;

  background: url("../asserts/hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.top_hero {
  flex: 60%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  color: #fff;
}
.bottom_hero {
  flex: 40%;
  background-color: #eaeaea;
  text-align: center;
  padding: 20px;
}

.top_hero h1 {
  font-size: 25px;
}
.top_hero p {
  margin-top: 20px;
}

.top_hero .quote {
  color: rgb(249, 249, 249, 0.7);
  font-weight: 800;
}

.bottom_hero .main_text {
  margin-top: 20px;
}
.bottom_hero .main_text p {
  margin-top: 20px;
}
.quote {
  color: #6c63ff;
  font-weight: 800;
}

@media (min-width: 725px) {
  .hero {
    flex-direction: row;
    height: 80vh;
  }
  .bottom_hero {
    display: grid;
    place-items: center;
    background-color: #fff;
  }
}

@media (max-width: 725px) {
  .top_hero {
    border-radius: 0 0 30px 30px;
    background: var(--mainPinkColor);
  }

  .bottom_hero {
    display: none;
  }
  .hero {
    height: 60vh;
  }
}
