.hero {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  font-family: "Poppins", sans-serif;
  margin-top: 8vh;
}

.top_hero {
  flex: 60%;
  background: url("../asserts/hero.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.bottom_hero {
  flex: 40%;
  background-color: #eaeaea;
  text-align: center;
  padding: 20px;
}

.bottom_hero .main_text {
  margin-top: 20px;
}
.bottom_hero .main_text p {
  margin-top: 20px;
}
.quote {
  color: #6c63ff;
  font-weight: 800;
}

@media (min-width: 725px) {
  .hero {
    flex-direction: row;
    height: 80vh;
  }
  .bottom_hero {
    display: grid;
    place-items: center;
    background-color: #fff;
  }
}
