.LearnMore {
  margin: 8vh auto 30px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.LearnMore .postThumbnail {
  line-height: 1.5;
  color: #333;
  border-radius: 0 0 10px 10px;
  background-color: #f9f9f9;
  cursor: pointer;
}

.postThumbnail img {
  height: 200px;
  width: 100%;
}
.postThumbnail .thumbnailDescription {
  padding: 16px;
}
