.ShareStory {
  margin: 8vh auto 0;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.ShareStory .story {
  border-left: 2px solid var(--mainLightgray);
  padding: 10px 10px 10px 20px;
}

.ShareStory .story .post_name {
  font-size: 13px;
  font-weight: bold;
  font-weight: 400;
}
