@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap");

* {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

:root {
  --mainPinkColor: #fe0072;
  --mainLightgray: #eaeaea;
}

ul {
  margin-left: 20px;
}
.App {
  position: relative;
}

body {
  background: #fff;
}
